<div class="table-container">
  <div class="table-responsive">
    <table>
      <thead>
        <tr>
          <th>Número Crédito</th>
          <th>Número NFSE</th>
          <th>Data Constituição</th>
          <th>Valor ISSQN</th>
          <th>Tipo Crédito</th>
          <th>Simples Nacional</th>
          <th>Alíquota</th>
          <th>Valor Faturado</th>
          <th>Valor Dedução</th>
          <th>Base Cálculo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of creditData">
          <td>{{ item.numeroCredito }}</td>
          <td>{{ item.numeroNfse }}</td>
          <td>{{ item.dataConstituicao }}</td>
          <td>{{ item.valorIssqn | currency:'BRL':'symbol':'1.2-2' }}</td>
          <td>{{ item.simplesNacional ? 'Sim' : 'Não' }}</td>
          <td>{{ item.aliquota | percent:'1.2-2' }}</td>
          <td>{{ item.valorFaturado | currency:'BRL':'symbol':'1.2-2' }}</td>
          <td>{{ item.valorDeducao | currency:'BRL':'symbol':'1.2-2' }}</td>
          <td>{{ item.baseCalculo | currency:'BRL':'symbol':'1.2-2' }}</td>
        </tr>
        <tr *ngIf="creditData.length === 0">
          <td colspan="10" class="no-data">Nenhum dado de crédito disponível.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>